{% extends 'base.html' %}
{% block title  %}Disquera | Artistas{% endblock  %}

{% block contenido %}
<h1 class="text-center"> Artistas</h1>
    <div class="mb-2">
        <a href="{% url 'artista-add' %}" class="btn btn-primary" style="margin-bottom:0.3rem; padding:0.4rem 1.4rem"><i class="bi bi-plus-circle"> Resgistrar Artista</i></a>
    </div>
<div class="table-responsive">
    <table class="table align-middle">
        <thead class="table-dark text-center">
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nombre <br>Artistico</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Disquera</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        <thead>
        <tbody class="text-center">
        {% for a in artistas %}
        <tr>
            <td>{{a.id}}</td>
            <td><img src="{{a.fotoArtista.url}}" width="100px" heith="100px" class="rounded-circle"></td>
            <td>{{a.nombreArtistico}}</td>
            <td>{{a.nombreArtista}}</td>
            <td>{{a.apellidoArtista}}</td>
            <td>{{a.iddisquerafk}}</td>
            <td>{{a.estadoArtista}}</td>
            
            <td>  
                <a href=""  class="btn btn-warning"><i class="bi bi-pencil"></i>Editar</a>
                <a href="" class="btn btn-danger"><i class="bi bi-trash"></i>Eliminar</a>
            </td>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}